*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
}
p{
    font-family: 'Open Sans', sans-serif;

}

@keyframes fadeOut{
    to{
        opacity: 0;
    }
}

@keyframes lineDown{
    0%{
        transform: scale(1,0);
        transform-origin: top center;
    }
    25%{
        transform: scale(1,1);
        transform-origin: top center;
    }
    75%{
        transform: scale(1,1);
        transform-origin: top center;
    }
    76%{
        transform: scale(1,1);
        transform-origin:  bottom center;
    }
    100%{
        transform: scale(1,0);
        transform-origin:  bottom center;
    }
}

@keyframes arrowDown{
    0%{
        bottom: 25px;
    }
    30%{
        bottom: 15px;
        opacity: 1;
    }
    70%{
        bottom: 10px;
        opacity: 1;
    }
    100%{
        bottom: 4px;
        opacity: 0;
    }
}


@media screen and (min-width: 320px){
    .nd-page-wrapper, .nd-preloader {
        width: 100%;
        height: 100vh;
        display: table;
        background-color: #1C1C1C;
        border: 30px solid black;
    }

    .nd-preloader{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
    }

    .nd-preloader-inner{
        margin-top: -45px;
        text-align: center;
    }

    .nd-topbar{
        width: 100%;
        height: 110px;
        display: block;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
    }

    .nd-logo{
        width: 75px;
        height: 110px;
        float: left;
        margin-left: 60px;
        background-color: #2CCB69;
        border-radius:0 0 40px 0;
        text-align: center;
        
    }
    .nd-logo img {
        width: 46px;
        height: 31px;
        display: block;
        margin: 55px auto 0 auto;
    }

    .nd-menu {
        display: none;
    }


    .nd-btn-contact{
        width: 45px;
        height: 45px;
        display: block;
        background-color: #2CCB69;
        background-image: url('Src/assets/images/icon-contact-close.svg');
        background-repeat: no-repeat;
        position: fixed;
        bottom: 45px;
        right: 45px;
        border-radius: 50%;
        z-index: 200;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

  
    .nd-contact-info{
        width: 245px;
        height: 165px;
        padding: 25px;
        position: fixed;
        bottom: 115px;
        right: 70px;
        border-radius:10px 10px 0px 10px;
        display: none;
        transition: all 0.6s ease-in-out;
        
    }
    .nd-contact-info::after{
        content:'';
        margin-left: 196px;
        width: 25px;
        height: 25px;
        margin-top: 15px;
        display: block;
        background-image: url('Src/assets/images/corner.svg');
    }

    .nd-contact-info  p{
        font-size: 18px;
        line-height: 24px;
    }

    .nd-social-links{
        width: 100%;
        height: 45px;
        display: block;
        position: relative;
        left: -12px;
    }

    .nd-social{
        width: 45px;
        height: 45px;
        display: inline-block;
    }
    
    .nd-social > img {
        width: 20px;
        height: auto;
        display: block;
        margin: 15px auto 0;
    }

    /*------Home----*/
    .nd-display-text{
        margin-top: 25%;
    }

    #nd-home-presentation{
        background-image: url(Src/assets/images/joao-lemon-designer-home.png);
        background-repeat: no-repeat;
        background-position: 60% bottom;
        position: relative;
    }

    .nd-scroll-down {
        width: 70px;
        height: 105px;
        border-radius: 35px 35px 0 0;
        background-color: #2CCB69;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0 auto;
        z-index: 100;
    }
    .nd-arrow-down{
        width: 100%;
        height: 75px;
        display: table;
        margin-top: 30px;
        position: relative;
    }
    .nd-arrow-down img{
        width: 16px;
        height: 10px;
        display: block;
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;
        animation: arrowDown 1.5s  linear 1.5s infinite;
    }

    .nd-arrow-down::before{
        content: '';
        width: 2px;
        height: 50px;
        display: block;
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: #000;
        animation:lineDown 1.5s  linear infinite ;
        transform-origin: center;
    }

}

@media screen and (min-width: 576px)
{
    
}

@media screen and (min-width: 768px)
{
    
}

@media screen and (min-width: 992px)
{
    .nd-menu{
        display: block;
        float: left;
        height: 110px;
        margin-left:  30px;
    }

    .nd-menu a {
        font-family: 'Open Sans';
        font-size: 16px;
        color: #BCBCBC;
        text-decoration:none;
        text-transform: lowercase;
        display: inline-block;
        padding: 0 20px;
        margin-top: 50px;
        font-weight: 400;
        position: relative;
    }
    .nd-menu a:first-child{
        padding-left: 0;
    }

    .nd-menu a:hover {
        color: #2CCB69;
        transition: all 0,2s ease-in-out;

    }

    .nd-menu a:after {
        content: '';
        width:0;
        height: 4px;
        background-color: #2CCB69;
        display: block;
        margin-top: 5px;
        left: 0;
        transition: all 0.5s ease-out;
     
    }
    .nd-menu a:hover:after{
        width: 100%;
    }
}

@media screen and (min-width: 1200px)
{
    
}

@media screen and (min-width: 1364px)
{
    
}

@media screen and (min-width: 1600px)
{
    
}

/* Global class */

.nd-title{
    font-family: 'Abril Fatface', serif;
    font-weight: normal;
}


.nd-text-green{
    color:#2CCB69;
}
.nd-text-dark{
    color: #4D4C4C;
}
.nd-text-light{
    color: #BCBCBC;
}
.nd-text-black{
    color: #000;
}


.nd-bg-green{
    background:#2CCB69;
}
.nd-bg-dark{
    background: #4D4C4C;
}
.nd-bg-light{
    background: #BCBCBC;
}
.nd-bg-black{
    background: #000;
}

.nd-margin-15{
    margin: 15px;
}

.nd-margin-top-15{
    margin-top: 15px;
}

.nd-margin-right-15{
    margin-right: 15px;
}

.nd-margin-bottom-15{
    margin-bottom: 15px;
}

.nd-margin-left-15{
    margin-left: 15px;
}

.nd-padding-15{
    padding: 15px;
}

.nd-padding-top-15{
    padding-top: 15px;
}

.nd-padding-right-15{
    padding-right: 15px;
}

.nd-padding-bottom-15{
    padding-bottom: 15px;
}

.nd-padding-left-15{
    padding-left: 15px;
  
}

.nd-title-big{
    font-size: 120px;
}


.nd-full-height{
    height: 100vh;
}


.nd-first-section{
    height: calc(100vh - 30px);
}



/* State Classes */

.nd-is-open{
    display: block;
    transition: all 0.6s ease-in-out;
}

.nd-change-icon{
    background-position-y: -45px;
}

.nd-fade-out{
    animation: fadeOut 0.3s forwards ease-out;
}


